
body {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(150deg, #ed8e8e, #ffe0cc) ;
    
}

.heading {
    font-size: 30px;
    font-style: normal;

}

.inputbox1 {
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 10px;   
    font-size: 16px;
}
.inputbox2 {
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 10px;   
    font-size: 16px;
}
 
.h4{
margin-bottom: 5px;
text-align: left;
 

}

.div1{
    background-color: purple;
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 10px;   
    font-size: 16px;
    text-align: center;
    color: white;
    cursor: pointer;

}
.div2{
    margin-top: 5px;
}
.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.social-login img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 3px;
}
.signup {
    text-align: center;
    font-size: 14px;
}

.signup a {
    color: #5a2ddf;
    text-decoration: none;
}
.container {
    background-color: white;     
    border: 2px solid black;      
    border-radius: 10px;       
    padding: 30px;                
    width: 350px;               
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);  
}